.main_div {
    text-align: center;
    background-color: rgb(217, 73, 73);
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one {
    font-size: 4rem;
    text-align: center;
    color: lightcoral;
    font-weight: 200;
}

.input {
    border: none;
    outline: none;
    background-color: lightpink;
    color: black;
    height: 4vh;
    width: 6vw;
    text-align: center;
    border-radius: 4px;
    justify-content: flex-start;
}

.set {
    border: none;
    outline: none;
    background-color: lightpink;
    height: 4vh;
    width: 4vw;
    border-radius: 4px;
    margin: 2px;
    color: gray;

}

.value {
    color: lightcoral;
    font-size: 2rem;
}

.button{
    border: none;
    outline: none;
    background-color: lightpink;
    height: 4.5vh;
    width: 5vw;
    padding: 5px;
    border-radius: 4px;
    margin: 2px;
    color: gray;
}

